<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Colaboradores</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2>Relatorio de Colaboradores</h2>
        <div class="row"></div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="nome">Nome</label>
                    <input type="text" name="nome" id="nome" class="form-control" onkeyup="filtrarPesquisa()">
                </div>
            </div>
        </div>   
        <!-- Verificação se há colaboradores -->
        {% if lista %}
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Nome</th>
                    <th>Data</th>
                    <th>Produto</th>
                </tr>
            </thead>
            <tbody>
                <!-- Loop pelos colaboradores -->
                {% for item in lista %}
                <tr>
                    <td>{{ item.colaborador }}</td>
                    <td>{{ item.data_emprestimo }}</td>
                    <td>{{ item.produto }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="alert alert-info" role="alert">
            Nenhum colaborador cadastrado.
        </div>
        {% endif %}
    </div>
    <script>
        /**
        const colaboradores = [];
        window.onload = () => {
            const tr = document.querySelectorAll('tbody tr');
            tr.forEach((item) => {
                const nome = item.querySelector('td').textContent;
                const telefone = item.querySelector('td:nth-child(2)').textContent;
                const cargo = item.querySelector('td:nth-child(3)').textContent;
                colaboradores.push({nome, telefone, cargo});
            });
        }

        function filtrarPesquisa() {
            const nome = document.getElementById('nome').value;
            const tr = document.querySelectorAll('tbody tr');
            tr.forEach((item) => {
                const td = item.querySelector('td');
                if (td.textContent.toLocaleLowerCase().includes(nome.toLocaleLowerCase())) {
                    item.style.display = '';
                } else {
                    item.style.display = 'none';
                }
            });
        }
            **/

        const lista = [];
        window.onload = () => {
            const tr = document.querySelectorAll('tbody tr');
            tr.forEach((item) => {
                const colaborador = item.querySelector('td').textContent;
                const data_emprestimo = item.querySelector('td:nth-child(2)').textContent;
                const produto = item.querySelector('td:nth-child(3)').textContent;
                lista.push({colaborador, data_emprestimo, produto});
            });
        }

        function filtrarPesquisa() {
            const nome = document.getElementById('nome').value;
            const tr = document.querySelectorAll('tbody tr');
            tr.forEach((item) => {
                const td = item.querySelector('td');
                if (td.textContent.toLocaleLowerCase().includes(nome.toLocaleLowerCase())) {
                    item.style.display = '';
                } else {
                    item.style.display = 'none';
                }
            });
        }
    </script>
    <!-- Bootstrap 4.5.2 JS, Popper.js, e jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
