<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .list-group-item-action {
            background-color: rgba(0, 0, 0, 0.5);
            color: #fff;
        }

        .list-group-item-action:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        <div>

            <div class="w-100" style="height: 70px;">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="#">Home</a>
                    <div style="margin-left: auto;">
                        <div style="display: flex; align-items: center;"">
                        <p class=" m-2">Usuário</p>
                            <img src="https://w7.pngwing.com/pngs/7/618/png-transparent-man-illustration-avatar-icon-fashion-men-avatar-face-fashion-girl-heroes-thumbnail.png"
                                alt="Imagem do usuário" class="rounded-circle" style="width: 50px"
                                onclick="abrirMenuUsuario()">
                        </div>
                        <div class="dropdown">
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Configurações</a></li>
                                <li><a class="dropdown-item" href="#">Perfil</a></li>
                                <li><a class="dropdown-item" href="#">Sair</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="row vh-100 vw-100">
                <!-- barra topo-->
                <!-- navegação lateral com collapse-->
                <!-- equipamento {Cadastrar equipamento, Editar equipamento}-->
                <!-- Controle epi {registrar ação, Relatorios}-->
                <!-- Colaborador {Cadastrar colaborador, Relatorios, Editar colaborador}-->
                <div class="col-sm-2">
                    <div class="list-group m-0 flex align-items">
                        <div class="mt-3">
                            <button class="btn list-group-item" type="button" onclick="descolapsar('Equipamento')">
                                Equipamento
                            </button>
                            <div class="collapse" id="collapseEquipamento">
                                <a href="#" onclick="alterarPagina('produto/cadastrar')"
                                    class="list-group-item list-group-item-action">Cadastrar equipamento</a>
                                <a href="#" onclick="alterarPagina('produtos')"
                                    class="list-group-item list-group-item-action">Editar equipamento</a>
                            </div>
                        </div>
                        <div class="mt-3">
                            <button class="btn list-group-item w-30" type="button" onclick="descolapsar('ControleEpi')">
                                Controle epi
                            </button>
                            <div class="collapse" id="collapseControleEpi">
                                <a href="#" onclick="alterarPagina('emprestimo/cadastrar')"
                                    class="list-group-item list-group-item-action">Registrar ação</a>
                                <a href="#" onclick="alterarPagina('emprestimos')"
                                    class="list-group-item list-group-item-action">Relatorios</a>
                            </div>
                        </div>
                        <div class="mt-3">

                            <button class="btn list-group-item" type="button" onclick="descolapsar('Colaborador')">
                                Colaborador
                            </button>
                            <div class="collapse" id="collapseColaborador">
                                <a href="#" onclick="alterarPagina('colaborador/cadastrar');"
                                    class="list-group-item list-group-item-action">Cadastrar colaborador</a>
                                <a href="#" onclick="alterarPagina('colaboradores/relatorio')"
                                    class="list-group-item list-group-item-action">Relatorios</a>
                                <a href="#" onclick="alterarPagina('colaboradores')"
                                    class="list-group-item list-group-item-action">Editar colaboradores</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl">
                    <iframe id="pagina" src="" frameborder="0" width="100%" height="100%"></iframe>
                </div>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        function descolapsar(id) {
            new bootstrap.Collapse(document.querySelector(`#collapse${id}`));
            console.log(id);
        }
        function alterarPagina(pagina) {
            document.querySelector('#pagina').src = pagina;
        }
        function abrirMenuUsuario() {
            const menu = document.querySelector('.dropdown-menu');
            menu.style.display = menu.style.display === 'none' ? 'block' : 'none';
        }
    </script>
</body>

</html>